@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600&display=swap');

:root {
    --primary-font: 'Instrument', sans-serif;
}
* {
    font-family: var(--primary-font);
}
body {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.content-table{
    width: 80%;
    border-collapse: collapse;
    text-align: left;
    font-size: 18px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1 {
    color: white;
    text-align: center;
}
th{
    background-color: #403f3f;
    color: white;
    padding: 20px;
}
td{
    color: grey;
    padding: 15px;
}
/* tr:nth-of-type(even){
    background-color: #f5f5f5;
} */

tr {
    border-bottom: 1px solid #e9e8e8;
    transition: 0.2s ease-in-out;
}
tr:hover {
 background-color: #e9e8e8;
 cursor: pointer;
}